.icon {
  fill: currentColor;
}
.icon-add {
      width: 1em;
      height: 1em;
    }
.icon-change {
      width: 1em;
      height: 1em;
    }
.icon-delete {
      width: 1em;
      height: 1em;
    }
.icon-drag {
      width: 1em;
      height: 1em;
    }
.icon-upload {
      width: 1em;
      height: 1em;
    }